body {
  text-align: center;
  padding-top: 15%;
  /*background-color: #4f3e5e;*/
  background: url(../img/fon.jpg);
}

#content{
  position: relative;
  text-align: center;
  max-height: 190px;
  max-width: 300px;
  margin: auto;
}

#img-up{
  width: auto;
  border-radius:15%;
  height: 170px;
  margin: auto;
  padding-bottom: top;
}

#iconlink{
  padding-top: 15px;
  width: 300px;
}

.name {
  color: rgb(45, 171, 30);
  font-size: 35px;
  margin: auto;
  padding-top: 15;
}

.link a:link{
  color: rgb(45, 171, 30);
  font-size: 35px;
  margin: auto;
  padding-top: 15;
  text-decoration: none;
}

.link a:visited{
  color: rgb(45, 171, 30);
}

.link a:hover {
  color: rgb(45, 171, 30);
  text-decoration: underline;
}

.link a:visited {
  color: rgb(45, 171, 30);
}
