@media all and (min-device-width: 1920px) {
    body {width: 1080px;}
   }

body {
  text-align: center;
  /*background-color: #4f3e5e;*/
  background: url(../img/fon.jpg);
}

.droplink {
  position: static;
  text-align: center;
  color: rgb(51, 212, 101);
  font-size: 30px;
}

.droplink li {
  display:block;
}

.droplink ul a{
  padding:0;
  margin:0;
}

.droplink li a{
  padding:0px 0px 4px 32px;
  margin:2px;
  display:block;
  text-decoration: none;
  font-size:12px;
  background-repeat:no-repeat;
  background-position: 10px 3px;
}

.droplink li a:hover {
  background-color: #999;
}
